<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Admin Panel</title>
</head>
<body> 
  <header>
      <h1>Admin Panel</h1>
      <a href="/" class="back-button">Back</a>
  </header>
  <div class="image-container">
    {% for image in image_data %}
      <div class="image-card">
        <img src="{{ url_for('static', filename=image["ImageFile"]) }}" alt="{{ image["ImageName"] }}">
        <p>{{ image["ImageName"] }}</p>
        <p>Uploaded on: {{ image["UploadDate"] }}</p>

        <a href="/delete?id={{ image["ImageID"] }}">Delete</a>
      </div>
    {% endfor %}
  </div>

</body>
</html>