<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
</head>
<body>
  <header>
      <h1>Image</h1>
      <a href="/" class="back-button">Back</a>
  </header>
  <div class="image-card" style="width: 30%; margin: auto;">
    <img src="{{ url_for('static', filename=image["ImageFile"]) }}" alt="{{ image["ImageName"] }}">
    <p>{{ image["ImageName"] }}</p>
    <p>Uploaded on: {{ image["UploadDate"] }}</p>
  </div>
</body>
</html>
