<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image</title>
</head>
<body>
  <h1>Image Gallery</h1>
  <div class="image-container">
      <div class="image-card">
        <img src="{{ url_for('static', filename=image.ImageFile ) }}" alt="{{ image.ImageName }}">
        <p>{{ image.ImageName }}</p>
        <p>Uploaded on: {{ image.UploadDate }}</p>
      </div>
  </div>
</body>
</html>
